In [65]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [66]:
dataset = pd.read_csv('https://raw.githubusercontent.com/mk-gurucharan/Classification/master/IrisDataset.csv')
# X = dataset.iloc[:,:4].values
# y = dataset['species'].values
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [67]:
dataset["sepal_length"] = dataset["sepal_length"]*10
dataset["sepal_width"] = dataset["sepal_width"]*10
dataset["petal_length"] = dataset["petal_length"]*10
dataset["petal_width"] = dataset["petal_width"]*10
dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0            51.0         35.0          14.0          2.0     setosa
1            49.0         30.0          14.0          2.0     setosa
2            47.0         32.0          13.0          2.0     setosa
3            46.0         31.0          15.0          2.0     setosa
4            50.0         36.0          14.0          2.0     setosa
..            ...          ...           ...          ...        ...
145          67.0         30.0          52.0         23.0  virginica
146          63.0         25.0          50.0         19.0  virginica
147          65.0         30.0          52.0         20.0  virginica
148          62.0         34.0          54.0         23.0  virginica
149          59.0         30.0          51.0         18.0  virginica

[150 rows x 5 columns]

In [68]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
label_encoder = preprocessing.LabelEncoder()
dataset['species']= label_encoder.fit_transform(dataset['species']) 
dataset['species'].unique()

array([0, 1, 2])

In [69]:
X = dataset.iloc[:,:4].values
y = dataset['species'].values

In [70]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [71]:
X_train

array([[62., 34., 54., 23.],
       [57., 38., 17.,  3.],
       [55., 24., 37., 10.],
       [77., 28., 67., 20.],
       [48., 30., 14.,  1.],
       [50., 20., 35., 10.],
       [48., 34., 16.,  2.],
       [56., 30., 45., 15.],
       [65., 30., 55., 18.],
       [49., 30., 14.,  2.],
       [77., 26., 69., 23.],
       [50., 35., 16.,  6.],
       [62., 22., 45., 15.],
       [51., 38., 16.,  2.],
       [49., 25., 45., 17.],
       [64., 27., 53., 19.],
       [71., 30., 59., 21.],
       [72., 36., 61., 25.],
       [55., 24., 38., 11.],
       [64., 32., 45., 15.],
       [68., 30., 55., 21.],
       [63., 33., 47., 16.],
       [64., 32., 53., 23.],
       [67., 31., 56., 24.],
       [50., 34., 16.,  4.],
       [67., 30., 50., 17.],
       [55., 42., 14.,  2.],
       [63., 25., 50., 19.],
       [74., 28., 61., 19.],
       [61., 30., 49., 18.],
       [53., 37., 15.,  2.],
       [68., 32., 59., 23.],
       [63., 34., 56., 24.],
       [54., 34., 15.,  4.],
       [63., 27., 49., 18.],
       [56., 28., 49., 20.],
       [79., 38., 64., 20.],
       [55., 26., 44., 12.],
       [57., 25., 50., 20.],
       [51., 35., 14.,  2.],
       [46., 31., 15.,  2.],
       [65., 30., 52., 20.],
       [48., 34., 19.,  2.],
       [76., 30., 66., 21.],
       [58., 27., 39., 12.],
       [50., 36., 14.,  2.],
       [59., 30., 42., 15.],
       [54., 34., 17.,  2.],
       [67., 31., 47., 15.],
       [57., 28., 41., 13.],
       [57., 28., 45., 13.],
       [58., 27., 51., 19.],
       [60., 29., 45., 15.],
       [51., 37., 15.,  4.],
       [45., 23., 13.,  3.],
       [55., 25., 40., 13.],
       [69., 31., 51., 23.],
       [46., 36., 10.,  2.],
       [58., 28., 51., 24.],
       [63., 23., 44., 13.],
       [61., 28., 47., 12.],
       [44., 30., 13.,  2.],
       [48., 30., 14.,  3.],
       [47., 32., 16.,  2.],
       [64., 29., 43., 13.],
       [52., 35., 15.,  2.],
       [54., 39., 17.,  4.],
       [57., 26., 35., 10.],
       [64., 31., 55., 18.],
       [61., 30., 46., 14.],
       [60., 34., 45., 16.],
       [63., 25., 49., 15.],
       [50., 23., 33., 10.],
       [51., 33., 17.,  5.],
       [67., 30., 52., 23.],
       [65., 30., 58., 22.],
       [43., 30., 11.,  1.],
       [66., 30., 44., 14.],
       [64., 28., 56., 21.],
       [66., 29., 46., 13.],
       [55., 35., 13.,  2.],
       [54., 30., 45., 15.],
       [69., 31., 49., 15.],
       [67., 25., 58., 18.],
       [69., 32., 57., 23.],
       [67., 33., 57., 21.],
       [51., 38., 15.,  3.],
       [55., 23., 40., 13.],
       [49., 31., 15.,  1.],
       [60., 22., 40., 10.],
       [51., 35., 14.,  3.],
       [77., 30., 61., 23.],
       [59., 32., 48., 18.],
       [58., 26., 40., 12.],
       [44., 29., 14.,  2.],
       [67., 33., 57., 25.],
       [63., 28., 51., 15.],
       [49., 31., 15.,  1.],
       [77., 38., 67., 22.],
       [52., 41., 15.,  1.],
       [52., 27., 39., 14.],
       [54., 39., 13.,  4.],
       [54., 37., 15.,  2.],
       [47., 32., 13.,  2.],
       [63., 29., 56., 18.],
       [49., 31., 15.,  1.],
       [51., 34., 15.,  2.],
       [50., 30., 16.,  2.],
       [56., 30., 41., 13.],
       [73., 29., 63., 18.],
       [56., 25., 39., 11.],
       [72., 30., 58., 16.],
       [70., 32., 47., 14.],
       [67., 31., 44., 14.],
       [61., 26., 56., 14.],
       [52., 34., 14.,  2.],
       [51., 25., 30., 11.],
       [46., 32., 14.,  2.],
       [68., 28., 48., 14.],
       [60., 27., 51., 16.]])

In [72]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

In [73]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB()

In [74]:
y_pred = classifier.predict(X_test) 
y_pred

array([2, 2, 0, 2, 0, 2, 2, 0, 0, 1, 0, 0, 2, 2, 1, 1, 2, 2, 1, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 0])

In [75]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.9666666666666667

array([[10,  0,  0],
       [ 0, 10,  0],
       [ 0,  1,  9]], dtype=int64)

In [76]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        10
           1       0.91      1.00      0.95        10
           2       1.00      0.90      0.95        10

    accuracy                           0.97        30
   macro avg       0.97      0.97      0.97        30
weighted avg       0.97      0.97      0.97        30

In [78]:
dataset

     sepal_length  sepal_width  petal_length  petal_width  species
0            51.0         35.0          14.0          2.0        0
1            49.0         30.0          14.0          2.0        0
2            47.0         32.0          13.0          2.0        0
3            46.0         31.0          15.0          2.0        0
4            50.0         36.0          14.0          2.0        0
..            ...          ...           ...          ...      ...
145          67.0         30.0          52.0         23.0        2
146          63.0         25.0          50.0         19.0        2
147          65.0         30.0          52.0         20.0        2
148          62.0         34.0          54.0         23.0        2
149          59.0         30.0          51.0         18.0        2

[150 rows x 5 columns]

In [80]:
X1 = dataset[:120]
X2 = dataset[120:]

In [84]:
X1_class0 = X1.loc[X1['species'] == 0]
X1_class1 = X1.loc[X1['species'] == 1]
X1_class2 = X1.loc[X1['species'] == 2]

In [91]:
f1_mean_0 = X1_class0['sepal_length'].mean().astype(int)
f2_mean_0 = X1_class0['sepal_width'].mean().astype(int)
f3_mean_0 = X1_class0['petal_length'].mean().astype(int)
f4_mean_0 = X1_class0['petal_width'].mean().astype(int)
f1_var_0 = X1_class0['sepal_length'].var().astype(int)
f2_var_0 = X1_class0['sepal_width'].var().astype(int)
f3_var_0 = X1_class0['petal_length'].var().astype(int)
f4_var_0 = X1_class0['petal_width'].var().astype(int)

In [92]:
f1_mean_1 = X1_class1['sepal_length'].mean().astype(int)
f2_mean_1 = X1_class1['sepal_width'].mean().astype(int)
f3_mean_1 = X1_class1['petal_length'].mean().astype(int)
f4_mean_1 = X1_class1['petal_width'].mean().astype(int)
f1_var_1 = X1_class1['sepal_length'].var().astype(int)
f2_var_1 = X1_class1['sepal_width'].var().astype(int)
f3_var_1 = X1_class1['petal_length'].var().astype(int)
f4_var_1 = X1_class1['petal_width'].var().astype(int)

In [93]:
f1_mean_2 = X1_class2['sepal_length'].mean().astype(int)
f2_mean_2 = X1_class2['sepal_width'].mean().astype(int)
f3_mean_2 = X1_class2['petal_length'].mean().astype(int)
f4_mean_2 = X1_class2['petal_width'].mean().astype(int)
f1_var_2 = X1_class2['sepal_length'].var().astype(int)
f2_var_2 = X1_class2['sepal_width'].var().astype(int)
f3_var_2 = X1_class2['petal_length'].var().astype(int)
f4_var_2 = X1_class2['petal_width'].var().astype(int)

In [100]:
X_test = X2.values
y_test = X2["species"].values

In [53]:
dataset['species'].unique()

array([0, 1, 2])

In [54]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
label_encoder = preprocessing.LabelEncoder()
dataset['species']= label_encoder.fit_transform(dataset['species']) 
dataset['species'].unique()

array([0, 1, 2], dtype=int64)