In [11]:
import pandas as pd
import math
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
df = pd.read_csv('winquality-note.txt')
# df2 = pd.read_csv('map_testing.csv')
# df.columns = col_names
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [12]:
target = np.array(df['quality'].values)
features = np.array(df.drop(columns = ['quality']))
features.shape

# y_train = np.array(df1['class'].values)
# y_test = np.array(df2['class'].values)

(1599, 11)

In [13]:
# x_train = np.array(df1.drop(columns = ['class']))
# x_test = np.array(df2.drop(columns = ['class']))

In [14]:
x_train,x_test, y_train, y_test = train_test_split(features,target,test_size=0.2, random_state=0)
# x_train = (StandardScaler().fit_transform(x_train)*100).astype(int)
# x_test = (StandardScaler().fit_transform(x_test)*100).astype(int)

In [15]:
# train_data, test_data = train_test_split(df , test_size = 0.2 , shuffle=True)

#print(test_data.head())
GNB = GaussianNB()
y_pred = GNB.fit(x_train, y_train).predict(x_test)
print('Accuracy:' ,accuracy_score(y_test,y_pred))

Accuracy: 0.5375