In [13]:
import pandas as pd
import math
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
df = pd.read_csv('page-blocks.csv')
# df.columns = col_names
df.head()

,height,lenght,area,eccen,p_black,p_and,mean_tr,blackpix,blackand,wb_trans,class
0,5,7,35,1.400,0.400,0.657,2.33,14,23,6,1
1,6,7,42,1.167,0.429,0.881,3.60,18,37,5,1
2,6,18,108,3.000,0.287,0.741,4.43,31,80,7,1
3,5,7,35,1.400,0.371,0.743,4.33,13,26,3,1
4,6,3,18,0.500,0.500,0.944,2.25,9,17,4,1

In [14]:
target = np.array(df['class'].values)

In [15]:
features = np.array(df.drop(columns = ['class']))
features.shape

(5473, 10)

In [16]:
x_train,x_test, y_train, y_test = train_test_split(features,target,test_size=0.2, random_state=0)
x_train = (StandardScaler().fit_transform(x_train)*100).astype(int)
x_test = (StandardScaler().fit_transform(x_test)*100).astype(int)

In [17]:
# train_data, test_data = train_test_split(df , test_size = 0.2 , shuffle=True)

#print(test_data.head())
GNB = GaussianNB()
y_pred = GNB.fit(x_train, y_train).predict(x_test)
print('Accuracy:' ,accuracy_score(y_test,y_pred))

Accuracy: 0.8401826484018264