In [2]:
import pandas as pd
import math
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
df1 = pd.read_csv('map_training.csv')
df2 = pd.read_csv('map_testing.csv')
# df.columns = col_names
df1.head()

,class,max_ndvi,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,water,997.904,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,-1628.240,...,-921.193,-1043.160,-1942.490,267.138,366.608,452.238,211.328,-2203.02,-1180.190,433.906
1,water,914.198,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,-1670.590,...,-954.719,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.00,-1360.560,524.075
2,water,3800.810,1671.3400,1206.880,449.735,1071.21,546.371,1077.840,214.564,849.599,...,1562.210,1566.160,2208.440,1056.600,385.203,300.560,293.730,2762.57,150.931,3800.810
3,water,952.178,58.0174,-1599.160,210.714,-1052.63,578.807,-1564.630,-858.390,729.790,...,-1025.880,368.622,-1786.950,-1227.800,304.621,291.336,369.214,-2202.12,600.359,-1343.550
4,water,1232.120,72.5180,-1220.880,380.436,-1256.93,515.805,-1413.180,-802.942,683.254,...,-1813.950,155.624,-1189.710,-924.073,432.150,282.833,298.320,-2197.36,626.379,-826.727

In [11]:
y_train = np.array(df1['class'].values)
y_test = np.array(df2['class'].values)

In [12]:
x_train = np.array(df1.drop(columns = ['class']))
x_test = np.array(df2.drop(columns = ['class']))

In [13]:
# x_train,x_test, y_train, y_test = train_test_split(features,target,test_size=0.2, random_state=0)
# x_train = (StandardScaler().fit_transform(x_train)*100).astype(int)
# x_test = (StandardScaler().fit_transform(x_test)*100).astype(int)

In [14]:
# train_data, test_data = train_test_split(df , test_size = 0.2 , shuffle=True)

#print(test_data.head())
GNB = GaussianNB()
y_pred = GNB.fit(x_train, y_train).predict(x_test)
print('Accuracy:' ,accuracy_score(y_test,y_pred))

Accuracy: 0.6866666666666666